<header>
    <section id="sec-header" class="w-100 p-4">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="#">
      <img
        src="https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/goiy-1.png"
        height="30"
        width="30"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <div class="col-xs-6 col-md-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/login/create">Thêm sản phẩm</a>
          </li>
        </ul>
      </div>
      
      <!-- Left links -->
      <div class="col-xs-6 col-md-4">
              <form class="d-flex input-group w-auto" action="/login/searchuser" method="GET">
                <input
                    name="searchuser" 
                    type="text"
                    id="searchuser"
                    class="form-control rounded"
                    {{!-- placeholder="Tìm sản phẩm..." --}}
                    aria-label="Search"
                    aria-describedby="search-addon"
                />
                <button id="searchuser" type="submit" class="btn btn-info" ><i class="fa fa-search"></i></button>
              </form>
            </div>
      
      <div id="logreg" class="col-xs-1 col-md-1">
        <div class="cart">
            <a href="/login/cart" class="text-reset me-1">
              <i class="fas fa-shopping-cart"></i>
            </a>
              <a class="dropdown-toggle hidden-arrow" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
              </a>
              <h5>{{user.hoten}}</h5>
              
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top:10px;">
                
                <a class="dropdown-item" href="/login/myprofile">My profile</a>
                
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="/">Logout</a>
              </div>
               
          </div>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
</section>

</header>

<!-- body -->
<body>

  <section class="bg-dark py-4">
    <div class="container">
      <h2 class="text-white"></h2>
    </div>
  </section>
<br>
  <section class="padding-y">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <article class="card">
                <div class="card-body">
                    <form action="/login/add" method="POST">
                        <h5 class="card-title">Thông tin liên hệ</h5>
                        <div class="row">
                            <div class="col-sm-8 mb-3"> <label class="form-label" for="Diachi">Địa chỉ</label> <input type="text" name="Diachi" class="form-control" placeholder="Type here"> </div>
                            <div class="col-sm-4 mb-3"> <label class="form-label" for="Quan">Tỉnh thành*</label> <select class="form-select" name="Quan" id="city*" aria-label="City*"> <option value="Hồ Chí Minh">Hồ Chí Minh</option> <option value="Bình Dương">Bình Dương</option> <option value="Long An">Long An</option> </select> </div>
                        </div>
                        <hr class="my-4">
                        <table class="table table-bordered">
                          <thead>
                            <tr class="table-title">
                              <td colspan="2">Sản phẩm</td>
                              <td>Giá thành</td>
                              <td>Xóa</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td width="90"><img src="{{course.thumbnail}}" alt="" height="72" width="72"></td>
                              <td style="padding-top: 30px; padding-bottom: 30px; font-size:15px;" name="Name">{{course.name}}</td>
                              <td width="150" style="text-align: center; padding-top: 30px; padding-bottom: 30px;" name="Price">{{course.price}}</td>
                              <td width="60" style="text-align: center; padding-top: 30px; padding-bottom: 30px;"><i class="fa fa-trash"></i></td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                        <button class="btn btn-primary" type="submit">Thanh toán</button>
                    </form>
                </div>
            </article>
        </div>
      </div>
    </div>
  </section>

</body>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Shop.com</a>
  </div>
  <!-- Copyright -->
</footer>