footer {
    margin-top: 811px;
}

form input {
    margin-right: 10px;
}

div #logreg {
    margin-left: 200px;
}

.rounded-circle {
    margin-left: 5px;
}

.img-wrap img {
    display: block;
    max-width: 204px;
    max-height: 204px;
    width: auto;
    height: auto;
}

#myprofile {
    margin-left: 50px;
}

footer {
    margin-top: 250px;
}

#createpro {
    margin-left: 350px;
}

.cart {
    margin-left: 50px;
}

.text-end {
    text-align: right !important;
}

dd {
    display: block;
    margin-inline-start: 150px;
}

.dlist-align dt {
    width: 130px;
    word-wrap: break-word;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: block;
}

.table-title td {
    text-align: center;
}

.card-product-grid .info-wrap {
    padding: 1rem 1.2rem;
    overflow: hidden;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.figcaption {
    display: block;
}